.card-contact-us {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0.75rem 0;
	width: 200px;
}

.card-contact-us___container-icon {
	border-radius: 100%;
	background-color: var(--color-burger);
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
}

.card-contact-us___name {
	margin: 0.75rem 0;
	font-size: 1rem;
	color: var(--color-white);
}

.card-contact-us___contact-one {
	margin: 0 0 0.25rem 0;
	font-size: 0.75rem;
	color: var(--color-secondary);
}

.card-contact-us___contact-two {
	margin: 0;
	font-size: 0.75rem;
	color: var(--color-secondary);
}

@media all and (min-width: 750px) {
	.card-contact-us {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 0rem 0;
		width: 200px;
	}

	.card-contact-us___container-icon {
		border-radius: 100%;
		background-color: var(--color-burger);
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.45rem;
	}

	.card-contact-us___name {
		margin: 0.75rem 0;
		font-size: 0.8rem;
		color: var(--color-white);
	}

	.card-contact-us___contact-one {
		margin: 0 0 0.25rem 0;
		font-size: 0.9rem;
		color: var(--color-secondary);
	}

	.card-contact-us___contact-two {
		margin: 0;
		font-size: 0.9rem;
		color: var(--color-secondary);
	}
}
