.daily-post {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4.5rem;
	margin-bottom: 3rem;
	user-select: none;
}

.daily-post__container-text {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: var(--color-white);
}

.daily-post__container-cards {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

@media all and (min-width: 870px) {
	.daily-post__container-cards {
		display: flex;
		justify-content: space-around;
		align-items: space-around;
		flex-direction: row;
		width: 100%;
	}
}
